// Featured Clients Styles

.featured-clients, .all-clients {
  @include clearfix;
  @include general-view-container();

  .client-row {
    @include general-view-row();
  }

  // contains all the service-rows
  .pane-content {
    @include general-view-pane-content(); 
  }

  .client-row a {
    display: block;
    text-align: center;

    @media screen and (min-width: $large) {
      line-height: 170px;
      max-height: 170px;
    }
  }
  .client-row img {
    @include general-view-images();

    @media screen and (min-width: $large) {
      vertical-align: middle;
      width: inherit;
      max-height: 170px;
      max-width: 100%;
    }
  }

  .pane-title {
    @include general-view-title-pane();
  }
}
