// Featured Projects Styles

.featured-projects {

  background-color: #fff;
  padding: 0 0 16px 0;

  .inner {
    @include clearfix;
    @include general-view-container();
    width: 100%;
  }

  .pane-title {
    display: none;
  }

  .sp-layer {
    h2 {
      font: $font-view-title;
      margin-bottom: 4px;

      a {
        text-decoration: none;
        color: #e7b112;

        &:hover, &.active {
          color: #e7b112;
        }
      }
    }

    p {
      font: $font-view-text;
    }
  }
}

.all-projects {
  @include clearfix;
  @include general-view-container();

  .project-row {
    @include general-view-row();
  }

  // contains all the project-rows
  .pane-content {
    @include general-view-pane-content(); 
  }

  .project-row img {
    @include general-view-images();
  }

  .pane-title {
    @include general-view-title-pane();
  }

  a {
    display: block;
    font: $font-view-links;
    color: $view-title-links;
    text-decoration: none;
    padding: 6px 0px 4px 0px;

    @include general-view-link-images();
    
  }

  p {
    font: $font-view-text;
  }
}
