// Featured Products Styles

.featured-products, .all-products {
  background-color: #fff;
  padding: 0 0 30px 0;

  .inner {
    @include clearfix;
    @include general-view-container();
  }

  .product-row {
    @include general-view-row();
  }

  // contains all the service-rows
  .pane-content {
    @include general-view-pane-content(); 
  }

  .product-row img {
    @include general-view-images();
  }

  .pane-title {
    @include general-view-title-pane();
  }

  a {
    display: block;
    font: $font-view-links;
    color: $view-title-links;
    text-decoration: none;
    padding: 6px 0px 4px 0px;

    @include general-view-link-images();
  }

  p {
    font: $font-view-text;
  }
}
