.header {
  height: 160px;
  padding-bottom: 5px;

  background-image: url('../img/header-background.jpg');

  .logo {
    @include float-span(1);
    width: 85px;
    margin-top: 16px;
    margin-right: 10px;

    @media screen and (min-width: $small) {
      width: 125px;
    }

    img {
      width: 100%;
    }
  }

  .right-side {
    margin-top: 18px;
    @include float-span(8, 'last');
    float: left;

    @media screen and (min-width: $small) {
      @include float-span(8, 'last');
      float: left;
    }

    @media screen and (min-width: $medium) {
      margin-top: 28px;
      @include float-span(9, 'last');
      float: left;
    }

    @media screen and (min-width: $large) {
      @include float-span(10, 'last');
      float: left;
    }
  }

  .inner {
    @include clearfix;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: $medium) {
      max-width: $large;
    }

    @media screen and (min-width: $large) {
      max-width: $very-large;
    }

    @media screen and (min-width: $very-large) {width: 90%;
      max-width: $very-large;
    }
  }

  .title {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-right: 10px;
    padding: 3px 0px 5px 0px;

    h1 {
      margin-left: 10px;
      font: $font-header-title;
      text-transform: uppercase;
      color: $color-header-title;
      line-height: 1.2em;
      font-size: 22px;

      @media screen and (min-width: $small) {
        line-height: 1.5em;
        font: $font-header-title;
      }  
    }

    h2 {
      margin-left: 10px;
      font: $font-header-subtitle;
      text-transform: uppercase;
      color: white;
      font-size: 14px;

      @media screen and (min-width: $small) {
        font: $font-header-subtitle;
      }
    }
  }

  .navbar {
    margin-top: 10px;
    padding-left: 10px;

    display: none;

    @media screen and (min-width: $medium) {
      display: block;
    }
  }

  .navbar li {
    display: inline-block;
    margin: 0 5px 5px 0;
  }

  .navbar a {
    display: inline-block;
    font: $font-main-navbar;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 3px 8px;

    &.active, &:hover {
      background-color: $navbar-active;
      @include border-radius(5px);
    }
  }
}

.mobile-navbar {
  display: block;

  @media screen and (min-width: $medium) {
    display: none;
  }

  ul {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #000;
    padding: 5px 0;
  }

  a {
    font: $font-main-navbar;
    display: block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    font-size: 16px;

    @media screen and (min-width: $small) {
      font-size: 20px;
    }

    &.active {
      color: $navbar-active;
    }

    &:hover {
      color: $navbar-active;
    }
  }
}
