@mixin general-view-container() {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: $medium) {
    max-width: $large;
  }

  @media screen and (min-width: $large) {
    max-width: $very-large;
  }

  @media screen and (min-width: $very-large) {
    width: 90%;
    max-width: $very-large;
  }
}

@mixin general-view-row() {
  margin-bottom: 16px;

  @media screen and (min-width: $medium) {
    @include float-span(4);
    margin-bottom: 0;
  }

  &:nth-child(3n) {
    @media screen and (min-width: $medium) {
      @include float-span(4, 'last');
    }
  }
}

@mixin general-view-title-pane() {
  font: $font-view-title;
  text-transform: uppercase;
  text-align: center;
  border: 6px solid #000;
  padding: 25px 0 25px 0;
  margin: 16px;

  @media screen and (min-width: $medium) {
    font: $font-view-title;
    text-transform: uppercase;
    text-align: left;
    padding: 8px 0px 0px 0px;
    border: 0;
    border-bottom: 1px solid #000;
    margin-bottom: 6px;
  }
}

@mixin general-view-pane-content() {
  margin: 0 16px 0 16px;
}

@mixin general-view-images() {
  @include single-transition(opacity, .5s ease-out);
  width: 100%;	
}

@mixin general-view-link-images() {
  &:hover img {
    @include opacity(.7);
  }
}