@import "fonts";

$font-header-title: 25px 'antonregular', Arial, serif;
$font-header-subtitle: 16px 'armataregular', Arial, serif;
$font-main-navbar: 14px 'armataregular', Arial, serif;

$font-view-title: 25px 'antonregular', Arial, serif;
$font-view-links: 16px 'armataregular', Arial, serif;
$font-view-text: 12px 'armataregular', Arial, serif;
