.project {
  
  @include general-view-container();

  h2 {
    font: $font-detail-page-title;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
  }

  .project-photos p {
    font: $font-detail-page-text;
  }

  .project-description {
  	font: $font-detail-page-text;
  	line-height: 18px;
  	margin-bottom: 12px;
  }

  .project-attachment .file {
  	margin-right: 15px;

  	a {
  	  font: $font-detail-page-text;
  	  size: 14px;
  	  text-decoration: none;
  	  color:$view-title-links;

  	  &:hover {
  	  	text-decoration: underline;
  	  }
  	}
  }
}